AJAX learning/continut/resources/persoane.dtd

<!ELEMENT persoane (persoana, persoana, persoana)>
<!ELEMENT persoana ( nume, prenume, varsta, adresa, profesie, sex)>
<!ATTLIST persoana id CDATA #REQUIRED>
<!ELEMENT nume (#PCDATA)>
<!ELEMENT prenume (#PCDATA)>
<!ELEMENT varsta (#PCDATA)>
<!ELEMENT adresa (strada, numar, localitate, tara)>
<!ELEMENT strada (#PCDATA)>
<!ELEMENT numar (#PCDATA)>
<!ELEMENT localitate (#PCDATA)>
<!ELEMENT tara (#PCDATA)>
<!ELEMENT profesie (#PCDATA)>
<!ELEMENT sex (#PCDATA)>